style.css
body {
background-color:#000099 ; cor
}
h1 {color: #000099 ;
}
p {
font-Size: 16px;
color:#5656e6;

}

header {
  border-botton: solid 3px #ca9c11 ;
  padding: 10px;
  font-size: 22px;
  color: white;
}
